#============= zygote ==============
allow zygote proc_cmdline:file { getattr open read };
get_prop(zygote, bluetooth_prop);
get_prop(zygote, exported_camera_prop);
